@media screen and (max-width:1855px){
    .SmartText-span-xxs{
        font-size:13px;
    }
    .SmartText-span-xs{
        font-size:13px;
    }
    .SmartText-span-s{
        font-size:14px;
    }
    .SmartText-span-m{
        font-size:16px;
    }
    .SmartText-span-ml{
        font-size:18px;
    }
    .SmartText-span-l{
        font-size:22px;
    }
    .SmartText-span-xl{
        font-size:24px;
    }
    .SmartText-span-xxl{
        font-size:39px;
    }
    .SmartText-span-xxxl{
        font-size:40px;
    }
    .SmartText-span-xxxxl{
        font-size:50px;
    }
}
@media screen and (max-width:1815px){
    .SmartText-span-xxs{
        font-size:13px;
    }
    .SmartText-span-xs{
        font-size:13px;
    }
    .SmartText-span-s{
        font-size:14px;
    }
    .SmartText-span-m{
        font-size:16px;
    }
    .SmartText-span-ml{
        font-size:18px;
    }
    .SmartText-span-l{
        font-size:21px;
    }
    .SmartText-span-xl{
        font-size:23px;
    }
    .SmartText-span-xxl{
        font-size:39px;
    }
    .SmartText-span-xxxl{
        font-size:40px;
    }
    .SmartText-span-xxxxl{
        font-size:50px;
    }
}
@media screen and (max-width:1760px){
    .SmartText-span-xxs{
        font-size:12px;
    }
    .SmartText-span-xs{
        font-size:12px;
    }
    .SmartText-span-s{
        font-size:13px;
    }
    .SmartText-span-m{
        font-size:15px;
    }
    .SmartText-span-ml{
        font-size:17px;
    }
    .SmartText-span-l{
        font-size:20px;
    }
    .SmartText-span-xl{
        font-size:22px;
    }
    .SmartText-span-xxl{
        font-size:36px;
    }
    .SmartText-span-xxxl{
        font-size:37px;
    }
    .SmartText-span-xxxxl{
        font-size:46px;
    }
}
@media screen and (max-width:1600px){
    .SmartText-span-xxs{
        font-size:12px;
    }
    .SmartText-span-xs{
        font-size:13px;
    }
    .SmartText-span-s{
        font-size:13px;
    }
    .SmartText-span-m{
        font-size:14px;
    }
    .SmartText-span-ml{
        font-size:17px;
    }
    .SmartText-span-l{
        font-size:20px;
    }
    .SmartText-span-xl{
        font-size:21px;
    }
    .SmartText-span-xxl{
        font-size:35px;
    }
    .SmartText-span-xxxl{
        font-size:36px;
    }
    .SmartText-span-xxxxl{
        font-size:45px;
    }
}
@media screen and (max-width:1460px){
    .SmartText-span-xxs{
        font-size:12px;
    }
    .SmartText-span-xs{
        font-size:13px;
    }
    .SmartText-span-s{
        font-size:14px;
    }
    .SmartText-span-m{
        font-size:13px;
    }
    .SmartText-span-ml{
        font-size:17px;
    }
    .SmartText-span-l{
        font-size:18px;
    }
    .SmartText-span-xl{
        font-size:19px;
    }
    .SmartText-span-xxl{
        font-size:32px;
    }
    .SmartText-span-xxxl{
        font-size:34px;
    }
    .SmartText-span-xxxxl{
        font-size:42px;
    }
    .SmartText-span-container{
        line-height:1.2;
    }
}
@media screen and (max-width:1366px){
    .SmartText-span-xxs{
        font-size:11.5px;
    }
    .SmartText-span-xs{
        font-size:12.5px;
    }
    .SmartText-span-s{
        font-size:13.5px;
    }
    .SmartText-span-m{
        font-size:14px;
    }
    .SmartText-span-ml{
        font-size:16px;
    }
    .SmartText-span-l{
        font-size:18px;
    }
    .SmartText-span-xl{
        font-size:19px;
    }
    .SmartText-span-xxl{
        font-size:27px;
    }
    .SmartText-span-xxxl{
        font-size:29px;
    }
    .SmartText-span-xxxxl{
        font-size:38px;
    }
}
@media screen and (max-width:1280px){
    .SmartText-span-xxs{
        font-size:11px;
    }
    .SmartText-span-xs{
        font-size:11.5px;
    }
    .SmartText-span-s{
        font-size:12.5px;
    }
    .SmartText-span-m{
        font-size:13px;
    }
    .SmartText-span-ml{
        font-size:14px;
    }
    .SmartText-span-l{
        font-size:15px;
    }
    .SmartText-span-xl{
        font-size:18px;
    }
    .SmartText-span-xxl{
        font-size:26px;
    }
    .SmartText-span-xxxl{
        font-size:28px;
    }
    .SmartText-span-xxxxl{
        font-size:35px;
    }  
}
@media screen and (max-width:1024px){
    .SmartText-span-xxs{
        font-size:11px;
    }
    .SmartText-span-xs{
        font-size:11px;
    }
    .SmartText-span-s{
        font-size:11px;
    }
    .SmartText-span-m{
        font-size:11px;
    }
    .SmartText-span-ml{
        font-size:11px;
    }
    .SmartText-span-l{
        font-size:11.5px;
    }
    .SmartText-span-xl{
        font-size:15px;
    }
    .SmartText-span-xxl{
        font-size:20px;
    }
    .SmartText-span-xxxl{
        font-size:21px;
    }
    .SmartText-span-xxxxl{
        font-size:27px;
    }  
    .SmartText-span-container{
        line-height:1.1;
        padding-right: 10px;
    }
}
@media screen and (max-width:640px),(max-height:480px) {
    .SmartText-span-xxs{
        font-size:11px;
    }
    .SmartText-span-xs{
        font-size:11.5px;
    }
    .SmartText-span-s{
        font-size:12.5px;
    }
    .SmartText-span-m{
        font-size:13px;
    }
    .SmartText-span-ml{
        font-size:14px;
    }
    .SmartText-span-l{
        font-size:15px;
    }
    .SmartText-span-xl{
        font-size:18px;
    }
    .SmartText-span-xxl{
        font-size:26px;
    }
    .SmartText-span-xxxl{
        font-size:28px;
    }
    .SmartText-span-xxxxl{
        font-size:35px;
    }  
}